:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Colors */
  --body-bg: #23252C;
  --white: #fff;
  --grey: #918E9B;

  /* Colors - dark theme*/
  --dark-primary: #1A1B21;
  --dark-secondary: #161619;
  --light-text-primary: var(--light-primary);
  --light-text-secondary: #DCDCDC;
  --gold-dark: #F3BF99;
  --blue-dark: #5093E2;

  /* Colors - light theme */
  --light-primary: #F5F5F5;
  --light-secondary: #D5D4D8;
  --dark-text-primary: #2B283A;
  --dark-text-secondary: #4A4E74;
  --gold-light: #F47D27;
  --blue-light: #297FE5;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background: var(--body-bg);
}